
  h1{
    margin: 0;
    padding: 0; 
  }
  
  body,p {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .hero-section {
    background: linear-gradient(#0dd17f,#18d0e5);
    border-radius: 0 0 50px 50px; /* Rounded bottom edges */
    font-family: 'A Love of Thunder', Arial, sans-serif;@import url();
    padding: -7px;
    position: relative;
    text-align: center; /* Center content on mobile */
    overflow: hidden; /* Ensure no overflow from rounded corners */
    z-index: 1;
  }
  
  .hero-content h1, .hero-content p {
    color: white;
  }
  
  .hero-image {
    max-width: 100%; /* Ensure image is responsive */
    height: auto;
    display: block; /* Remove any extra space beneath the image */
    margin: 20px auto 0; /* Center image on mobile */
    position:relative; /* Positioning context for top property */
    top: 20px; /* Moves the image 20px down from its original position */
    z-index: 2; /* Ensure the image stays behind the text */
  }
  
  
  /* Desktop and larger tablets */
  @media (min-width: 768px) {
    .hero-section {
        display: flex;
        align-items: center;
        justify-content:flex-start /* Space between text and image */
        /* text-align: left;  */
    }
  
    .hero-content, .hero-image {
        flex-basis: 50%; /* Split space evenly between text and image */
    }
  
    .hero-image {
        margin: 0; /* Reset margin for desktop */
        order: 2; /* Image to the right */
    }
  }
  
  /* body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  } */
  
  /* Reset default margins and padding */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    display: flex;
    justify-content: flex-end; /* Align logo to the right */
    align-items: center;
    padding: 1rem;
    background-color: white;
  }
  
  .logo {
    width: 100px; /* Adjust as necessary for mobile */
    height: auto;
  }
  
  .menu-toggle {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute; /* Positioning menu toggle to the left */
    left: 10px;
    top: 10px;
  }
  
  .hero {
    position: relative;
    text-align: center;
    color: white;
    background-color: #2dcf99; /* Adjust the blue background color as needed */
    padding: 50px 10px; /* Padding for text spacing */
  }
  
  .hero h1 {
    font-size: 1.2rem; /* Adjust font size for mobile */
    margin-bottom: 20px;
  }
  
  /* Media query for larger screens */
  @media (min-width: 600px) {
    .hero h1 {
      font-size: 2rem; /* Larger font size for larger screens */
    }
  
    .logo {
      width: 150px; /* Larger logo for larger screens */
    }
  
    .menu-toggle {
      font-size: 8rem; /* Larger menu icon for larger screens */
    }
  }
  .form {
    width: 93%; /* Adjust the width as desired, smaller than 100% */
    margin:20px auto; /* Re-add this line to center the form */
    background-color: #ffffff;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .form-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input[type="text"],
  .form-group input[type="tel"] {
    width: calc(100% - 20px); /* Adjust width to account for padding */
    padding: 13px;
    color: black;
    border: 2px solid #ccc;
    border-radius: 25px;
  }
  
  .form-group select {
    width: calc(100% - 20px); /* Adjust width to account for padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
  }
  .submit-button {
    background-color: #2ad79d; /* Blue background */
    color: #fff; /* White text */
    padding: 10px 20px; /* Padding inside the button */
    border: none; /* No border */
    border-radius: 25px; /* Rounded corners */
    font-size: 16px;
    cursor: pointer; /* Cursor changes to pointer on hover */
    width: 50%; /* Button width set to 50% of its parent container */
    display: block; /* Display block to enable margin auto to work */
    margin: 0 auto; /* Center the button horizontally */
    box-sizing: border-box; /* Include padding and border in the width and height */
  }
  
  
  .demo-button {
    background-color: #2f72b3; /* The blue background color */
    color: white; /* Text color */
    border: none; /* No border */
    padding: 10px 20px; /* Padding inside the button */
    border-radius: 25px; /* Rounded corners */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Font weight */
    cursor: pointer; /* Cursor changes to pointer on hover */
    text-transform: uppercase; /* Uppercase text */
    outline: none; /* Remove focus border */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transition for hover effects */
    display: block; /* Make the button a block-level element */
    margin: 0 auto; /* Center the button horizontally */
    width: fit-content; /* Make the button width as wide as its content */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Horizontal offset, vertical offset, blur radius, spread radius, color */
  }
  
  
  .demo-button:hover, .demo-button:focus {
    background-color: #0fe7ea; /* Slightly darker blue on hover/focus */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect for depth */
  }
  
  